.ant-table-thead {
  .ant-table-cell {
    text-align: center;
  }
}

.ant-table-row {
  .ant-table-cell {
    text-align: center;
  }
}

.user-data-table {
  width: 70%;
  margin: auto;
  text-align: center;
}

.btn-modal {
  width: 185%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
